@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Prosto+One&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,900&family=Sevillana&family=Yeon+Sung&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 2 rem 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 1rem 1.2rem;
  border: 2px solid #a62440;
  font-size: 1.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1rem 0.5rem;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    opacity: .97;
    transform: scale(.97) ;

}
.btn-dark{
    background-color:#a62440;
    color: white;
}
.banner{
    display: flex;
}